# Check out open-source beer data

https://openbeerdb.com/

In [117]:
import requests
import glob
import os
import zipfile

In [122]:
#standalone download/upload in jupyter notebook of csv-files

print('Start downloading beer data file...')
url = 'https://openbeerdb.com/files/openbeerdb_csv.zip'
pathZip = 'C:/Users/WLi/OneDrive - Trivadis AG/Aus- Weiterbildung/StreamProcessing_Python_Kafka/openbeerdb_csv.zip'

file = requests.get(url)

open(pathZip, 'wb').write(file.content)

print('Download successful...')

#extract the zip in your directory

extract_path = 'C:/Users/WLi/OneDrive - Trivadis AG/Aus- Weiterbildung/StreamProcessing_Python_Kafka'
with zipfile.ZipFile(pathZip, 'r') as zipRef:
    zipRef.extractall(extract_path)
print('ZipFile extracted successfull...')

Start downloading beer data file...
Download successful...
ZipFile extracted successfull...

# Reading data from csv-files

In [15]:
import pandas as pd

In [123]:
data1 = pd.read_csv("beers.csv", header=0, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8])
data1.head()

  id brewery_id                    name cat_id style_id  abv ibu srm upc
0  1        812             Hocus Pocus     11      116  4.5   0   0   0
1  2        264       Grimbergen Blonde     -1       -1  6.7   0   0   0
2  3        779  Widdershins Barleywine     -1       -1  9.1   0   0   0
3  4        287                 Lucifer     -1       -1  8.5   0   0   0
4  5       1056                  Bitter     -1       -1    4   0   0   0

In [124]:
data2 = pd.read_csv("breweries.csv", header=0)
data2.head()

,id,name,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
0,1,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20
1,2,21st Amendment Brewery Cafe,563 Second Street,NaN,San Francisco,California,94107,United States,1-415-369-0900,http://www.21st-amendment.com/,NaN,The 21st Amendment Brewery offers a variety of...,2010-10-24 13:54:07
2,3,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Hoogstraat 2A,NaN,Beersel,Vlaams Brabant,NaN,Belgium,32-02-/-306-71-03,http://www.3fonteinen.be/index.htm,NaN,NaN,2010-07-22 20:00:20
3,4,Aass Brewery,Ole Steensgt. 10 Postboks 1530,NaN,Drammen,NaN,NaN,Norway,47-32-26-60-00,http://www.aass.no,NaN,Aass Brewery was established in 1834 and is th...,2010-07-22 20:00:20
4,5,Abbaye de Leffe,Dinant,NaN,Dinant,Namur,NaN,Belgium,NaN,NaN,NaN,NaN,2010-07-22 20:00:20

In [125]:
data3 = pd.read_csv("breweries_geocode.csv", header=0)
data3.head()

   id  brewery_id  latitude  longitude            accuracy
0   1           1   30.2234   -97.7697             ROOFTOP
1   2           2   37.7825  -122.3930             ROOFTOP
2   3           3   50.7668     4.3081  RANGE_INTERPOLATED
3   4           4   59.7451    10.2135         APPROXIMATE
4   5           5   50.2606     4.9122         APPROXIMATE

In [126]:
data4 = pd.read_csv("categories.csv", header=0)
data4.head()

   id                cat_name             last_mod
0   1             British Ale  2010-10-24 13:50:10
1   2               Irish Ale  2010-06-08 00:00:00
2   3      North American Ale  2010-06-08 00:00:00
3   4              German Ale  2010-06-08 00:00:00
4   5  Belgian and French Ale  2010-06-08 00:00:00

In [127]:
data5 = pd.read_csv("styles.csv", header=0)
data5.head()

   id  cat_id                      style_name             last_mod
0   1       1  Classic English-Style Pale Ale  2010-10-24 13:53:31
1   2       1    English-Style India Pale Ale  2010-06-15 19:14:38
2   3       1                 Ordinary Bitter  2010-06-15 19:14:54
3   4       1   Special Bitter or Best Bitter  2010-06-15 19:15:02
4   5       1            Extra Special Bitter  2010-06-15 19:15:09

# Use ".describe()" to get a statiscial overview

In [130]:
print(data1.describe())
print(data3.describe())
#data4.describe()
#data5.describe()

          id brewery_id      name  cat_id  style_id     abv   ibu   srm   upc
count   5845       5837      5837    5832      5829  5825.0  5822  5822  5822
unique  5845       1650      4982      28       129   266.0    20    15     5
top     2997       1072  Pale Ale       3        -1     0.0     0     0     0
freq       1         47        48    1248      1046  2648.0  4803  4809  4816
                id   brewery_id     latitude    longitude
count  1304.000000  1304.000000  1304.000000  1304.000000
mean    657.648006   699.611196    41.473073   -63.765908
std     379.382053   400.565205    12.959051    58.324611
min       1.000000     1.000000   -45.872000  -157.858000
25%     328.750000   353.500000    38.973475  -105.139500
50%     658.500000   703.500000    42.504450   -83.819250
75%     985.250000  1046.250000    48.149975    -1.260825
max    1315.000000  1394.000000    64.958300   176.854000

# Join the datasets to get one dataframe

In [131]:
#check how the the columns are assigned
data['brewery_id']

0        812
1        264
2        779
3        287
4       1056
        ...
5856      10
5857      10
5858      10
5859    1422
5860    1423
Name: brewery_id, Length: 5861, dtype: object

In [132]:
#pick an example from dataset 1
data1.loc[0,:]

id                      1
brewery_id            812
name          Hocus Pocus
cat_id                 11
style_id              116
abv                   4.5
ibu                     0
srm                     0
upc                     0
Name: 0, dtype: object

In [133]:
#pick an example from dataset 2
data2.loc[806,:]

id                                                        812
name                                                Magic Hat
address1                                  5 Bartlett Bay Road
address2                                                  NaN
city                                         South Burlington
state                                                 Vermont
code                                                     5403
country                                         United States
phone                                          1-802-658-2739
website                              http://www.magichat.net/
filepath                                                  NaN
descript    Burlington microbrewers of Humble Patience, Fa...
last_mod                                  2010-07-22 20:00:20
Name: 806, dtype: object

In [134]:
join1 = data1.set_index('brewery_id').join(data2.set_index('id'), lsuffix='_caller', rsuffix='_other')
join1 = join1.iloc[1:] #drops the first row, because we also matched the header
join1.head()

,id,name_caller,cat_id,style_id,abv,ibu,srm,upc,name_other,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
1,5735,(512) Wit,5,67,5.2,0,0,0,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20
1,5736,(512) Pale,3,26,5.8,0,0,0,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20
1,5737,(512) IPA,3,31,7,0,0,0,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20
1,5738,(512) Pecan Porter,2,25,6.8,0,0,0,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20
1,5739,(512) ALT,4,57,6,0,0,0,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20

In [135]:
#check if join was successful and as you wanted with the example above
#different beer-ids can have the same brewery-id
join1.loc[812,:]

,id,name_caller,cat_id,style_id,abv,ibu,srm,upc,name_other,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
812,1,Hocus Pocus,11,116,4.5,0,0,0,Magic Hat,5 Bartlett Bay Road,NaN,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20
812,5178,Odd Notion Winter 08,-1,-1,7.5,0,0,0,Magic Hat,5 Bartlett Bay Road,NaN,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20
812,5453,Wacko,11,121,4.5,0,0,0,Magic Hat,5 Bartlett Bay Road,NaN,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20
812,5685,Howl,8,95,4.6,0,0,0,Magic Hat,5 Bartlett Bay Road,NaN,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20
812,5763,Scumptious Spring Lager (Vinyl),-1,-1,0,0,0,0,Magic Hat,5 Bartlett Bay Road,NaN,South Burlington,Vermont,5403,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20

In [136]:
# beer with id 812
query = 812
join1[join1['id'] == query]

,id,name_caller,cat_id,style_id,abv,ibu,srm,upc,name_other,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
709,812,Porter,2,25,0,0,0,0,Jaipur Restaurant and Brewpub,10922 Elm Street,NaN,Omaha,Nebraska,68144,United States,1-402-392-7331,NaN,NaN,NaN,2010-07-22 20:00:20

In [138]:
data2.loc[0,:]

id                                                          1
name                                    (512) Brewing Company
address1                                      407 Radam, F200
address2                                                  NaN
city                                                   Austin
state                                                   Texas
code                                                    78745
country                                         United States
phone                                            512.707.2337
website                                http://512brewing.com/
filepath                                                  NaN
descript    (512) Brewing Company is a microbrewery locate...
last_mod                                  2010-07-22 20:00:20
Name: 0, dtype: object

In [139]:
data3.loc[0,:]

id                  1
brewery_id          1
latitude      30.2234
longitude    -97.7697
accuracy      ROOFTOP
Name: 0, dtype: object

In [163]:
# join brewery datasets (dataset 2 + 3)

In [164]:
join2 = data2.set_index('id').join(data3.set_index('brewery_id'), lsuffix='_brewery', rsuffix='_brewery2')
join2 = join2.iloc[1:] #drops the first row, because we also matched the header
join2.head()

,name,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod,id,latitude,longitude,accuracy
2,21st Amendment Brewery Cafe,563 Second Street,NaN,San Francisco,California,94107,United States,1-415-369-0900,http://www.21st-amendment.com/,NaN,The 21st Amendment Brewery offers a variety of...,2010-10-24 13:54:07,2.0,37.7825,-122.3930,ROOFTOP
3,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Hoogstraat 2A,NaN,Beersel,Vlaams Brabant,NaN,Belgium,32-02-/-306-71-03,http://www.3fonteinen.be/index.htm,NaN,NaN,2010-07-22 20:00:20,3.0,50.7668,4.3081,RANGE_INTERPOLATED
4,Aass Brewery,Ole Steensgt. 10 Postboks 1530,NaN,Drammen,NaN,NaN,Norway,47-32-26-60-00,http://www.aass.no,NaN,Aass Brewery was established in 1834 and is th...,2010-07-22 20:00:20,4.0,59.7451,10.2135,APPROXIMATE
5,Abbaye de Leffe,Dinant,NaN,Dinant,Namur,NaN,Belgium,NaN,NaN,NaN,NaN,2010-07-22 20:00:20,5.0,50.2606,4.9122,APPROXIMATE
6,Abbaye de Maredsous,"Rue de Maredsous, 11",NaN,Dene,Namur,NaN,Belgium,32-(0)82-69-82-11,http://www.maredsous10.be/,NaN,NaN,2010-07-22 20:00:20,6.0,50.3093,4.7646,GEOMETRIC_CENTER

In [165]:
#check magic hat
join2.loc[812,:]

name                                                 Magic Hat
address1                                   5 Bartlett Bay Road
address2                                                   NaN
city                                          South Burlington
state                                                  Vermont
code                                                      5403
country                                          United States
phone                                           1-802-658-2739
website                               http://www.magichat.net/
filepath                                                   NaN
descript     Burlington microbrewers of Humble Patience, Fa...
last_mod                                   2010-07-22 20:00:20
id                                                         763
latitude                                               44.4284
longitude                                             -73.2131
accuracy                                               ROOFTOP
Name: 812, dtype: object

In [166]:
# join beer datasets category + styles datasets to dataset 1

In [100]:
data4['id'].tolist()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [101]:
data4['cat_name'].tolist()

['British Ale',
 'Irish Ale',
 'North American Ale',
 'German Ale',
 'Belgian and French Ale',
 'International Ale',
 'German Lager',
 'North American Lager',
 'Other Lager',
 'International Lager',
 'Other Style']

In [88]:
data1.head()

  id brewery_id                    name cat_id style_id  abv ibu srm upc
0  1        812             Hocus Pocus     11      116  4.5   0   0   0
1  2        264       Grimbergen Blonde     -1       -1  6.7   0   0   0
2  3        779  Widdershins Barleywine     -1       -1  9.1   0   0   0
3  4        287                 Lucifer     -1       -1  8.5   0   0   0
4  5       1056                  Bitter     -1       -1    4   0   0   0

In [89]:
data4.head()

   id                cat_name             last_mod
0   1             British Ale  2010-10-24 13:50:10
1   2               Irish Ale  2010-06-08 00:00:00
2   3      North American Ale  2010-06-08 00:00:00
3   4              German Ale  2010-06-08 00:00:00
4   5  Belgian and French Ale  2010-06-08 00:00:00

In [148]:
join3 = data1.set_index('cat_id').join(data4, lsuffix='_beer', rsuffix='_cat')
join3.head()

,id_beer,brewery_id,name,style_id,abv,ibu,srm,upc,id_cat,cat_name,last_mod
-1,2,264,Grimbergen Blonde,-1,6.7,0,0,0,NaN,NaN,NaN
-1,3,779,Widdershins Barleywine,-1,9.1,0,0,0,NaN,NaN,NaN
-1,4,287,Lucifer,-1,8.5,0,0,0,NaN,NaN,NaN
-1,5,1056,Bitter,-1,4,0,0,0,NaN,NaN,NaN
-1,7,1099,Winter Welcome 2007-2008,-1,6,0,0,0,NaN,NaN,NaN

In [149]:
data5.head()

   id  cat_id                      style_name             last_mod
0   1       1  Classic English-Style Pale Ale  2010-10-24 13:53:31
1   2       1    English-Style India Pale Ale  2010-06-15 19:14:38
2   3       1                 Ordinary Bitter  2010-06-15 19:14:54
3   4       1   Special Bitter or Best Bitter  2010-06-15 19:15:02
4   5       1            Extra Special Bitter  2010-06-15 19:15:09

In [153]:
join4 = data1.set_index('style_id').join(data5, lsuffix='_beer', rsuffix='_style')
join4.head()

,id_beer,brewery_id,name,cat_id_beer,abv,ibu,srm,upc,id_style,cat_id_style,style_name,last_mod
-1,2,264,Grimbergen Blonde,-1,6.7,0,0,0,NaN,NaN,NaN,NaN
-1,3,779,Widdershins Barleywine,-1,9.1,0,0,0,NaN,NaN,NaN,NaN
-1,4,287,Lucifer,-1,8.5,0,0,0,NaN,NaN,NaN,NaN
-1,5,1056,Bitter,-1,4,0,0,0,NaN,NaN,NaN,NaN
-1,7,1099,Winter Welcome 2007-2008,-1,6,0,0,0,NaN,NaN,NaN,NaN

In [162]:
#check for category 1 "Irish Ale"
join3.loc[1,:]

,id_beer,brewery_id,name,style_id,abv,ibu,srm,upc,id_cat,cat_name,last_mod
1.0,6,1385,Winter Warmer,13,5.2,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,20,483,Cow Palace Scotch Ale 1998,15,8.7,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,26,1220,Winter Ale,13,5.9,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,101,1185,Winter Ale,13,6.3,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,102,1260,Pride & Joy Mild Ale,10,0,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1.0,5889,1412,IPA,2,3.5,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,5890,1412,Dark Mild,11,3.2,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,5891,1412,2008 Culture Beer,3,5,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,5892,1413,Iron Rail IPA,2,7.2,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00
1.0,5907,10,Abbey Ale,1,0,0,0,0,2.0,Irish Ale,2010-06-08 00:00:00

In [161]:
#check for style 1 "Classic English-Style Pale Ale"
join4.loc[1,:]

,id_beer,brewery_id,name,cat_id_beer,abv,ibu,srm,upc,id_style,cat_id_style,style_name,last_mod
1,879,935,5 Barrel Pale Ale,1,5.3,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1,919,1185,St Peter's Organic Ale,1,4.5,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1,946,823,Brilliant Barstool,1,5.1,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1,1175,869,West Bank Pub Ale,1,4.6,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,3121,890,Old Speckled Hen,1,5.2,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5200,546,Foster's Premium Ale,1,5.5,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5421,722,Martin's Pale Ale,1,5.8,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5548,911,Speight's Gold Medal Ale,1,4,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5631,1155,Urban Wilderness English Pale,1,5.1,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5811,1213,Legbiter Ale,1,4.7,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5813,1213,Barelegs Brew,1,4.5,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5815,1213,St Patrick's Ale,1,6,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38
1.0,5907,10,Abbey Ale,1,0,0,0,0,2.0,1.0,English-Style India Pale Ale,2010-06-15 19:14:38

In [ ]:
#join dataset2/3 to dataset1 to get one dataset with the most information

In [184]:
join_all = data1.set_index('brewery_id').join(join2, lsuffix='_beer', rsuffix='_brewery')
join_all = join_all.iloc[1:] #drops the first row, because we also matched the header
join_all.head()

,id_beer,name_beer,cat_id,style_id,abv,ibu,srm,upc,name_brewery,address1,...,country,phone,website,filepath,descript,last_mod,id_brewery,latitude,longitude,accuracy
1,5735,(512) Wit,5,67,5.2,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5736,(512) Pale,3,26,5.8,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5737,(512) IPA,3,31,7,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5738,(512) Pecan Porter,2,25,6.8,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5739,(512) ALT,4,57,6,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
#check magic hat
join_all.loc[812,:]

,id_beer,name_beer,cat_id,style_id,abv,ibu,srm,upc,name_brewery,address1,...,country,phone,website,filepath,descript,last_mod,id_brewery,latitude,longitude,accuracy
812,1,Hocus Pocus,11,116,4.5,0,0,0,Magic Hat,5 Bartlett Bay Road,...,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20,763.0,44.4284,-73.2131,ROOFTOP
812,5178,Odd Notion Winter 08,-1,-1,7.5,0,0,0,Magic Hat,5 Bartlett Bay Road,...,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20,763.0,44.4284,-73.2131,ROOFTOP
812,5453,Wacko,11,121,4.5,0,0,0,Magic Hat,5 Bartlett Bay Road,...,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20,763.0,44.4284,-73.2131,ROOFTOP
812,5685,Howl,8,95,4.6,0,0,0,Magic Hat,5 Bartlett Bay Road,...,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20,763.0,44.4284,-73.2131,ROOFTOP
812,5763,Scumptious Spring Lager (Vinyl),-1,-1,0,0,0,0,Magic Hat,5 Bartlett Bay Road,...,United States,1-802-658-2739,http://www.magichat.net/,NaN,"Burlington microbrewers of Humble Patience, Fa...",2010-07-22 20:00:20,763.0,44.4284,-73.2131,ROOFTOP

https://docs.python.org/3/library/sqlite3.html
https://docs.python.org/3/library/doctest.html
    
charts:
ploty
matplotlib

In [ ]:
# boxplot = data.boxplot(a)
# data.fillna(0)
#data.plot(x ='id', y='abv' , kind = 'scatter')

In [211]:
list(join_all.columns.values)

['id_beer',
 'name_beer',
 'cat_id',
 'style_id',
 'abv',
 'ibu',
 'srm',
 'upc',
 'name_brewery',
 'address1',
 'address2',
 'city',
 'state',
 'code',
 'country',
 'phone',
 'website',
 'filepath',
 'descript',
 'last_mod',
 'id_brewery',
 'latitude',
 'longitude',
 'accuracy']

# Transfer data to lokal database "SQLite3"

With python you can easily use sqlite as a database. It is easy to use and you can then query the database with SQL-commands to answer e.g. certain questions on the data. <br/>
https://docs.python.org/3/library/sqlite3.html

In [219]:
import sqlite3
conn = sqlite3.connect('mybeers.db')
c = conn.cursor()
c

In [221]:
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE mybeers_test
             (id_beer, name_beer, cat_id, style_id, abv, ibu, srm, upc, name_brewery, address1, address2, city, state, code, country, phone, website, filepath, descript, last_mod, id_brewery, latitude, longitude, accuracy)''')

# Insert a row of data
c.execute("INSERT INTO mybeers_test VALUES ('id_beer', 'name_beer', 'cat_id', 'style_id', 'abv', 'ibu', 'srm', 'upc', 'name_brewery', 'address1', 'address2', 'city', 'state', 'code', 'country', 'phone', 'website', 'filepath', 'descript', 'last_mod', 'id_brewery', 'latitude', 'longitude', 'accuracy')")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn.close()

OperationalError: table mybeers_test already exists

In [222]:
conn

In [228]:
# Do this instead
t = ('id_beer')
c.execute('SELECT * FROM mybeers_test')
print(c.fetchone())

# # Larger example that inserts many records at a time
# purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
#              ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
#              ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
#             ]
# c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

None