In [3]:
import pandas as pd
import requests
import glob

In [24]:
# url = 'https://openbeerdb.com/files/beers.zip'
# path = 'C:/Users/WLi/OneDrive - Trivadis AG/Aus- Weiterbildung/StreamProcessing_Python_Kafka_PariPhilip'

# file = requests.get(url)

# open(path, 'wb').write(file.content)

# extract_path = 'C:/Users/WLi/OneDrive - Trivadis AG/Aus- Weiterbildung/StreamProcessing_Python_Kafka_PariPhilip'
# #data = pd.read_csv(file)

In [4]:
#data = pd.read_csv("..\openbeerdb_csv\beers.csv")
data = pd.read_csv("beers.csv", header=0, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8])
data

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id brewery_id                    name cat_id style_id  abv ibu srm upc
0        1        812             Hocus Pocus     11      116  4.5   0   0   0
1        2        264       Grimbergen Blonde     -1       -1  6.7   0   0   0
2        3        779  Widdershins Barleywine     -1       -1  9.1   0   0   0
3        4        287                 Lucifer     -1       -1  8.5   0   0   0
4        5       1056                  Bitter     -1       -1    4   0   0   0
...    ...        ...                     ...    ...      ...  ...  ..  ..  ..
5856  5910         10           Honey Rye Ale     11      128    0   0   0   0
5857  5911         10              Strawberry     11      121    0   0   0   0
5858  5912         10             Satsuma Wit     11      121    0   0   0   0
5859  5913       1422               Abhi beer      7       89    0   0   0   0
5860  5914       1423                    Ambr     11      132    0   0   0   0

[5861 rows x 9 columns]

In [6]:
data.describe()

          id brewery_id      name  cat_id  style_id     abv   ibu   srm   upc
count   5845       5837      5837    5832      5829  5825.0  5822  5822  5822
unique  5845       1650      4982      28       129   266.0    20    15     5
top     5263       1072  Pale Ale       3        -1     0.0     0     0     0
freq       1         47        48    1248      1046  2648.0  4803  4809  4816

In [14]:
# boxplot = data.boxplot(a)
data.fillna(0)
#data.plot(x ='id', y='abv' , kind = 'scatter')

        id brewery_id                    name cat_id style_id  abv ibu srm upc
0        1        812             Hocus Pocus     11      116  4.5   0   0   0
1        2        264       Grimbergen Blonde     -1       -1  6.7   0   0   0
2        3        779  Widdershins Barleywine     -1       -1  9.1   0   0   0
3        4        287                 Lucifer     -1       -1  8.5   0   0   0
4        5       1056                  Bitter     -1       -1    4   0   0   0
...    ...        ...                     ...    ...      ...  ...  ..  ..  ..
5856  5910         10           Honey Rye Ale     11      128    0   0   0   0
5857  5911         10              Strawberry     11      121    0   0   0   0
5858  5912         10             Satsuma Wit     11      121    0   0   0   0
5859  5913       1422               Abhi beer      7       89    0   0   0   0
5860  5914       1423                    Ambr     11      132    0   0   0   0

[5861 rows x 9 columns]

In [16]:
#data = pd.read_csv("..\openbeerdb_csv\beers.csv")
data2 = pd.read_csv("breweries.csv", header=0)
data2.describe()
data2

,id,name,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
0,1,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,2010-07-22 20:00:20
1,2,21st Amendment Brewery Cafe,563 Second Street,NaN,San Francisco,California,94107,United States,1-415-369-0900,http://www.21st-amendment.com/,NaN,The 21st Amendment Brewery offers a variety of...,2010-10-24 13:54:07
2,3,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Hoogstraat 2A,NaN,Beersel,Vlaams Brabant,NaN,Belgium,32-02-/-306-71-03,http://www.3fonteinen.be/index.htm,NaN,NaN,2010-07-22 20:00:20
3,4,Aass Brewery,Ole Steensgt. 10 Postboks 1530,NaN,Drammen,NaN,NaN,Norway,47-32-26-60-00,http://www.aass.no,NaN,Aass Brewery was established in 1834 and is th...,2010-07-22 20:00:20
4,5,Abbaye de Leffe,Dinant,NaN,Dinant,Namur,NaN,Belgium,NaN,NaN,NaN,NaN,2010-07-22 20:00:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,1416,Brewery Vivant,925 Cherry Street SE,NaN,Grand Rapids,MI,49506,United States,616 719 1604,http://breweryvivant.com,bv-logo.png,Brewery Vivant is the realization of years of ...,2011-06-22 12:19:30
1410,1417,Oakshire,NaN,NaN,Eugene,Or,NaN,United States,NaN,NaN,NaN,NaN,2011-07-07 07:42:42
1411,1418,Oakshire,NaN,NaN,Eugene,Or,NaN,United States,NaN,NaN,NaN,NaN,2011-07-07 07:44:13
1412,1422,Abhi Brewery,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,2011-09-27 00:35:48
1413,1423,Brasserie du Bouffay,54 Rue des Monceaux,NaN,Carquefou,NaN,44470,France,NaN,NaN,NaN,La Brasserie du Bouffay est situ,2011-10-04 00:24:33

In [18]:
# data_joined1 = data.merge(data2, left_on=[data['brewery_id'], data2['id']])
# data_joined1

In [19]:
#data = pd.read_csv("..\openbeerdb_csv\beers.csv")
data3 = pd.read_csv("breweries_geocode.csv", header=0)
print(data3.head())
data3.describe()

   id  brewery_id  latitude  longitude            accuracy
0   1           1   30.2234   -97.7697             ROOFTOP
1   2           2   37.7825  -122.3930             ROOFTOP
2   3           3   50.7668     4.3081  RANGE_INTERPOLATED
3   4           4   59.7451    10.2135         APPROXIMATE
4   5           5   50.2606     4.9122         APPROXIMATE

                id   brewery_id     latitude    longitude
count  1304.000000  1304.000000  1304.000000  1304.000000
mean    657.648006   699.611196    41.473073   -63.765908
std     379.382053   400.565205    12.959051    58.324611
min       1.000000     1.000000   -45.872000  -157.858000
25%     328.750000   353.500000    38.973475  -105.139500
50%     658.500000   703.500000    42.504450   -83.819250
75%     985.250000  1046.250000    48.149975    -1.260825
max    1315.000000  1394.000000    64.958300   176.854000

In [20]:
#data = pd.read_csv("..\openbeerdb_csv\beers.csv")
data4 = pd.read_csv("categories.csv", header=0)
print(data4.head())
data4.describe()

   id                cat_name             last_mod
0   1             British Ale  2010-10-24 13:50:10
1   2               Irish Ale  2010-06-08 00:00:00
2   3      North American Ale  2010-06-08 00:00:00
3   4              German Ale  2010-06-08 00:00:00
4   5  Belgian and French Ale  2010-06-08 00:00:00

              id
count  11.000000
mean    6.000000
std     3.316625
min     1.000000
25%     3.500000
50%     6.000000
75%     8.500000
max    11.000000

In [21]:
#data = pd.read_csv("..\openbeerdb_csv\beers.csv")
data5 = pd.read_csv("styles.csv", header=0)
print(data5.head())
data5.describe()

   id  cat_id                      style_name             last_mod
0   1       1  Classic English-Style Pale Ale  2010-10-24 13:53:31
1   2       1    English-Style India Pale Ale  2010-06-15 19:14:38
2   3       1                 Ordinary Bitter  2010-06-15 19:14:54
3   4       1   Special Bitter or Best Bitter  2010-06-15 19:15:02
4   5       1            Extra Special Bitter  2010-06-15 19:15:09

               id      cat_id
count  141.000000  141.000000
mean    71.000000    5.900709
std     40.847277    3.505720
min      1.000000    1.000000
25%     36.000000    3.000000
50%     71.000000    5.000000
75%    106.000000    9.000000
max    141.000000   11.000000

In [22]:
import glob
import os

# get data file names
path = os. getcwd()
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,41,46,48,49,50,51,52,54,58,60,61,62,63,64,66,70,71,72,73,74,75,76,78,82,84,85,86,87,88,90,94,96,97,98,99,100,102,108,109,110,111,112,114,118,119,121,122,123,124,126,131,133,134,135,136,138,143,145,146,147,148,150,155,157,158,159,160,162,167,169,170,171,172,174,179,181,182,183,184,186,191,193,194,195,196,198,203,205,206,207,215,217,219,227,229,231,239,240,241,242,243,245,247,251,253,255,257,263,264,266,268,276,278,280,288,290,292,300,302,304,312,314,316,324,326,328,336,338,340,348,349,350,351,353,355,363,364,366,368,376,378,380,388,390,392,400,402,404,412,414,416,424,426,428,436,438,440,448,450,452,460,462,464,474,476,484,486,488,496,498,500,508,510,512,520,522,524,532,534,536,544) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
data.head()

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,...,Unnamed: 535,Unnamed: 536,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543,Unnamed: 544
0,1,812,Hocus Pocus,11,116,4.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,264,Grimbergen Blonde,-1,-1,6.7,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,779,Widdershins Barleywine,-1,-1,9.1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,287,Lucifer,-1,-1,8.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1056,Bitter,-1,-1,4,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data.describe()

,Unnamed: 40,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 47,Unnamed: 53,Unnamed: 55,Unnamed: 56,Unnamed: 57,...,Unnamed: 531,Unnamed: 533,Unnamed: 535,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543
count,3.000000,3.000000,3.000000,3.000000,2.0,2.0,3.000000,3.000000,3.000000,2.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
mean,459.666667,2.500000,14.333333,2.500000,0.0,0.0,451.833333,0.666667,8.333333,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
std,690.892418,2.291288,24.826062,4.330127,0.0,0.0,697.000777,1.154701,14.433757,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,8.000000,0.000000,0.000000,0.000000,0.0,0.0,5.500000,0.000000,0.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
25%,62.000000,1.500000,0.000000,0.000000,0.0,0.0,50.250000,0.000000,0.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
50%,116.000000,3.000000,0.000000,0.000000,0.0,0.0,95.000000,0.000000,0.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
75%,685.500000,3.750000,21.500000,3.750000,0.0,0.0,675.000000,1.000000,12.500000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
max,1255.000000,4.500000,43.000000,7.500000,0.0,0.0,1255.000000,2.000000,25.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN

In [23]:
big_frame.head()
big_frame.describe()

,Unnamed: 40,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 47,Unnamed: 53,Unnamed: 55,Unnamed: 56,Unnamed: 57,...,Unnamed: 535,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543,latitude,longitude
count,3.000000,3.000000,3.000000,3.000000,2.0,2.0,3.000000,3.000000,3.000000,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1304.000000,1304.000000
mean,459.666667,2.500000,14.333333,2.500000,0.0,0.0,451.833333,0.666667,8.333333,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,41.473073,-63.765908
std,690.892418,2.291288,24.826062,4.330127,0.0,0.0,697.000777,1.154701,14.433757,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.959051,58.324611
min,8.000000,0.000000,0.000000,0.000000,0.0,0.0,5.500000,0.000000,0.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,-45.872000,-157.858000
25%,62.000000,1.500000,0.000000,0.000000,0.0,0.0,50.250000,0.000000,0.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,38.973475,-105.139500
50%,116.000000,3.000000,0.000000,0.000000,0.0,0.0,95.000000,0.000000,0.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,42.504450,-83.819250
75%,685.500000,3.750000,21.500000,3.750000,0.0,0.0,675.000000,1.000000,12.500000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,48.149975,-1.260825
max,1255.000000,4.500000,43.000000,7.500000,0.0,0.0,1255.000000,2.000000,25.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,64.958300,176.854000