In [19]:
import pandas as pd
import requests
import glob

In [24]:
# url = 'https://openbeerdb.com/files/beers.zip'
# path = 'C:/Users/WLi/OneDrive - Trivadis AG/Aus- Weiterbildung/StreamProcessing_Python_Kafka_PariPhilip'

# file = requests.get(url)

# open(path, 'wb').write(file.content)

# extract_path = 'C:/Users/WLi/OneDrive - Trivadis AG/Aus- Weiterbildung/StreamProcessing_Python_Kafka_PariPhilip'
# #data = pd.read_csv(file)

In [25]:
#data = pd.read_csv("..\openbeerdb_csv\beers.csv")
data = pd.read_csv("beers.csv")
data.head()

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,...,Unnamed: 535,Unnamed: 536,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543,Unnamed: 544
0,1,812,Hocus Pocus,11,116,4.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,264,Grimbergen Blonde,-1,-1,6.7,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,779,Widdershins Barleywine,-1,-1,9.1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,287,Lucifer,-1,-1,8.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1056,Bitter,-1,-1,4,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
import glob
import os

# get data file names
path = os. getcwd()
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

In [35]:
data.head()

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,...,Unnamed: 535,Unnamed: 536,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543,Unnamed: 544
0,1,812,Hocus Pocus,11,116,4.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,264,Grimbergen Blonde,-1,-1,6.7,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,779,Widdershins Barleywine,-1,-1,9.1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,287,Lucifer,-1,-1,8.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1056,Bitter,-1,-1,4,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data.describe()

,Unnamed: 40,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 47,Unnamed: 53,Unnamed: 55,Unnamed: 56,Unnamed: 57,...,Unnamed: 531,Unnamed: 533,Unnamed: 535,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543
count,3.000000,3.000000,3.000000,3.000000,2.0,2.0,3.000000,3.000000,3.000000,2.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
mean,459.666667,2.500000,14.333333,2.500000,0.0,0.0,451.833333,0.666667,8.333333,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
std,690.892418,2.291288,24.826062,4.330127,0.0,0.0,697.000777,1.154701,14.433757,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,8.000000,0.000000,0.000000,0.000000,0.0,0.0,5.500000,0.000000,0.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
25%,62.000000,1.500000,0.000000,0.000000,0.0,0.0,50.250000,0.000000,0.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
50%,116.000000,3.000000,0.000000,0.000000,0.0,0.0,95.000000,0.000000,0.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
75%,685.500000,3.750000,21.500000,3.750000,0.0,0.0,675.000000,1.000000,12.500000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN
max,1255.000000,4.500000,43.000000,7.500000,0.0,0.0,1255.000000,2.000000,25.000000,0.0,...,NaN,0.0,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN

In [32]:
big_frame.head()
big_frame.describe()

,Unnamed: 40,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 47,Unnamed: 53,Unnamed: 55,Unnamed: 56,Unnamed: 57,...,Unnamed: 535,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543,latitude,longitude
count,3.000000,3.000000,3.000000,3.000000,2.0,2.0,3.000000,3.000000,3.000000,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1304.000000,1304.000000
mean,459.666667,2.500000,14.333333,2.500000,0.0,0.0,451.833333,0.666667,8.333333,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,41.473073,-63.765908
std,690.892418,2.291288,24.826062,4.330127,0.0,0.0,697.000777,1.154701,14.433757,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.959051,58.324611
min,8.000000,0.000000,0.000000,0.000000,0.0,0.0,5.500000,0.000000,0.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,-45.872000,-157.858000
25%,62.000000,1.500000,0.000000,0.000000,0.0,0.0,50.250000,0.000000,0.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,38.973475,-105.139500
50%,116.000000,3.000000,0.000000,0.000000,0.0,0.0,95.000000,0.000000,0.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,42.504450,-83.819250
75%,685.500000,3.750000,21.500000,3.750000,0.0,0.0,675.000000,1.000000,12.500000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,48.149975,-1.260825
max,1255.000000,4.500000,43.000000,7.500000,0.0,0.0,1255.000000,2.000000,25.000000,0.0,...,618.0,8.0,96.0,0.0,0.0,0.0,0.0,NaN,64.958300,176.854000